DB_HOST=localhost
DB_NAME=aeportal_db
DB_USER=root
DB_PASS=
SECRET_KEY=change-this-to-a-secure-random-secret-key
MAIL=
MAIL_PASS=
MAIL_PORT=587
MAIL_SERVER=mail.atechabad.com
SUPERADMIN_EMAIL=umar@atechabad.com
DEFAULT_ADMIN_EMAIL=naem@atechabad.com
UPLOAD_MAX_MB=100
